.podcast {
	margin-bottom: 40px;
}

h2.name {
	height: 40px;
}

.meta-wrapper {
	float: left;
	padding-left: 30px;
	width: 550px;
}

.buttons {
	clear: both;
}

.meta {
	float: left;
	width: 660px;
	padding-right: 40px;
}

.artwork {
	float: left;
}

.buttons {
	padding-top: 25px;
}