<% if @authentications %>
  <% unless @authentications.empty? %>
    <div class="authentications">
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider.titleize %></div>
          <div class="uid"><%= authentication.uid %></div>
          <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
<% end %>

<div class="auth-buttons clearfix">
	<a href="/auth/facebook" class="facebook">Sign in with Facebook</a>	
	<a href="/auth/twitter" class="twitter">Sign in with Twitter</a>
</div>

<div class="clear"></div>