<h2><%= @user.email %></h2>

<% if @user.podcasts %>
	<h3>Subscriptions</h3>
	<ul class="user-podcasts">
		<% @user.podcasts.each do |pod| %>
			<li><%= link_to pod.name, pod %></li>
		<% end %>
	</ul>
<% end %>