<div id="header" class="clearfix">
	<h1 id="logo"><%= link_to "podcastapp", root_path %></h1>
	<% if current_user %>
		<span class="username"><strong><%= link_to current_user.email, user_path(current_user) %></strong></span>
	<% end %>
</div>